{% extends 'base_template/query_page/queryTable.html' %} {%block
query_url%}/DataServiceManagement/query{%endblock%} {%block queryParam%}
<tr>
	<td width="98%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF" colspan='8'>
		<div align="left">
			&nbsp;&nbsp;<span class="STYLE3">数据服务查询</span>
		</div>
	</td>
</tr>
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDep.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDep}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.isRecOfficalDoc.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.isRecOfficalDoc_qry}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recOfficalDocTitle.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recOfficalDocTitle}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recOfficalDocNum.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recOfficalDocNum}}</span>
		</div>
	</td>
</tr>
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDataMedium.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDataMedium_qry}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.handler.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.handler}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.finishDate.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF" colspan='3'>
		<div align="center">
			<span class="STYLE1">{{queryForm.b_finishDate}}-{{queryForm.e_finishDate}}{{queryForm.b_finishDate.help_text}}</span>
		</div>
	</td>
</tr>
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.purpose.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.purpose_qry}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendDep.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendDep}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.isSendOfficalDoc.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.isSendOfficalDoc_qry}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendOfficalDocTitle.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendOfficalDocTitle}}</span>
		</div>
	</td>
</tr>
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendOfficalDocNum.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendOfficalDocNum}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendDataMedium.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.sendDataMedium_qry}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDepContacts.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDepContacts}}</span>
		</div>
	</td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDepTelNo.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.recDepTelNo}}</span>
		</div>
	</td>
</tr>
{%endblock%} {%block list_name%}查询公文列表{% endblock%} {%block add_button%}
{%if perms.DataServiceManagement.add_dataservice%}
<table width="90%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="STYLE1"><div align="center">
				<img src="/static/tab/images/22.gif" width="14" height="14" />
			</div></td>
		<td class="STYLE1">
			<div align="center">
				<a href='/DataServiceManagement/add/'>新增</a>

			</div>
		</td>
	</tr>
</table>
{%endif%} {%endblock%} {%block export_button%} {%if
perms.DataServiceManagement.export_dataservice%}
<table width="90%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="STYLE1"><div align="center">
				<img src="/static/tab/images/33.gif" width="14" height="14" />
			</div></td>
		<td class="STYLE1">
			<div align="center">
				<a href='/DataServiceManagement/exportData/'>导出</a>
			</div>
		</td>
	</tr>
</table>
{%endif%} {%endblock%} {%block table_title%}
<tr>
	<td width="13%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">数据来源单位</span>
		</div></td>
	<td width="16%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">来函公文标题</span>
		</div></td>
	<td width="13%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">来函公文文号</span>
		</div></td>
	<td width="6%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">时间要求</span>
		</div></td>
	<td width="8%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">责任人</span>
		</div></td>
	<td width="6%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">完成时间</span>
		</div></td>
	<td width="14%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">数据用途说明</span>
		</div></td>
	<td width="14%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">数据处理结果</span>
		</div></td>

	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF" class="STYLE1"><div align="center">操作</div></td>
</tr>
{%endblock%} {%block table_body%} {% if queryResultList %} {%for optObj
in queryResultList%}
<tr>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.recDep|default_if_none:''}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.recOfficalDocTitle}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.recOfficalDocNum}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.recDataDeadLine|default_if_none:''}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.handler}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.finishDate|date:'Y-m-d'}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.purposeDescribe|default_if_none:''}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.dataProcResult|default_if_none:''}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE4"> {%if
				perms.DataServiceManagement.change_dataservice%} <img
				src="/static/tab/images/edt.gif" width="16" height="16" /><a
				href='/DataServiceManagement/edit/?id={{optObj.id}}'>编辑</a>
				{%endif%} {%if perms.DataServiceManagement.delete_dataservice%} <img
				src="/static/tab/images/del.gif" width="16" height="16" /> <a
				href="javascript:locationUrl('您确定删除该条记录吗？','/DataServiceManagement/delete/?id={{optObj.id}}')">删除</a>
				{%endif%}
			</span>
		</div>
	</td>
</tr>
{%endfor%} {%endif%} {%endblock%}

