{%extends 'base_template/add_edit_page/addOrEditBase.html'%} {%block
title%}编辑部门通知{%endblock%} {%block saveOrUpdateForm%}

<style type="text/css">
<!--
.radio ul li {
	width: 20%;
	vertical-align: middle
}

.radio ul li label {
	vertical-align: middle
}
-->
</style>
<script type="text/javascript">
<!--
	leaders=['{{optObjForm.leaders|join:'\',\''}}']
	officers=['{{optObjForm.officers|join:'\',\''}}']
	others=['{{optObjForm.others|join:'\',\''}}']
	$(function(){
		$('#select_leader').click(function(){
			if($(this).attr('checked'))
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<leaders.length;ind++)
					{
						leader=leaders[ind];
						if(leader==value)
						{
							$(this).attr('checked',true);
							break;
						}
					}
				})
			}
			else
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<leaders.length;ind++)
					{
						leader=leaders[ind];
						if(leader==value)
						{
							$(this).attr('checked',false);
							break;
						}
					}
				})
			}
		});
		$('#select_officer').click(function(){
			if($(this).attr('checked'))
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<officers.length;ind++)
					{
						officer=officers[ind];
						if(officer==value)
						{
							$(this).attr('checked',true);
							break;
						}
					}
				})
			}
			else
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<officers.length;ind++)
					{
						officer=officers[ind];
						if(officer==value)
						{
							$(this).attr('checked',false);
							break;
						}
					}
				})
			}
		});
		$('#select_others').click(function(){
			if($(this).attr('checked'))
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<others.length;ind++)
					{
						other=others[ind];
						if(other==value)
						{
							$(this).attr('checked',true);
							break;
						}
					}
				})
			}
			else
			{
				$('#id_noticeUser li label :checkbox').each(function(){
					value=$(this).attr('value');
					for(var ind=0;ind<others.length;ind++)
					{
						other=others[ind];
						if(other==value)
						{
							$(this).attr('checked',false);
							break;
						}
					}
				})
			}
		});
		$('#select_all').click(function(){
			if($(this).attr('checked'))
			{
				$('#id_noticeUser li label :checkbox').attr('checked',true)
			}
			else
			{
				$('#id_noticeUser li label :checkbox').attr('checked',false);
			}
		});
		
		
	});
function downloadFile(fileName)
{
	uId=document.getElementsByName('id')[0].value
	href='/DepNoticeManagement/download/?id='+uId+'&fileName='+fileName
	window.location=href
}
function deleteFile(fileName)
{
	if(window.confirm('您确认要删除文件:'+fileName+'吗?'))
	{
		if(document.getElementsByName('deleteFileName')[0].value!='')
		{
			document.getElementsByName('deleteFileName')[0].value=document.getElementsByName('deleteFileName')[0].value+';'+fileName
		}
		else
		{
			document.getElementsByName('deleteFileName')[0].value=fileName
		}
		document.getElementById(fileName).className='deleteFileName'
	}
	
}
//-->
</script>
<form method='post' action='/DepNoticeManagement/saveOrUpdate/'
	enctype='multipart/form-data'>
	<input type='hidden' name='deleteFileName' id='deleteFileName' />
	{%csrf_token%} {{optObjForm.id}} {{optObjForm.uploadDir}} <br>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="20%">&nbsp;</td>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="1"
					bgcolor="b5d6e6">

					<tr>
						<td width="98%" height="22" bgcolor="#CDEAF8" colspan='2'>
							<div align="left">
								&nbsp;&nbsp;<span class="STYLE3">编辑/查看通知</span>
							</div>
						</td>
					</tr>

					<tr>
						<td width="25%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.title.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="75%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.title}}<span
									class="helptext">{{optObjForm.title.help_text}}</span>{{optObjForm.title.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.content.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="radio">{{optObjForm.content}}<span
									class="helptext">{{optObjForm.content.help_text}}</span></span>{{optObjForm.content.errors}}
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="150" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.noticeUser.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="150" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="radio"> <input id="select_all"
									type="checkbox" /> 所有人 <input id="select_leader"
									type="checkbox" /> 处领导 <input id="select_officer"
									type="checkbox" /> 干警 <input id="select_others" type="checkbox" />
									技术人员
								</span> <span class="radio">{{optObjForm.noticeUser}}<span
									class="helptext">{{optObjForm.noticeUser.help_text}}</span></span>{{optObjForm.noticeUser.errors}}
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.file1.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.file1}}<span
									class="helptext">{{optObjForm.file1.help_text}}</span>{{optObjForm.file1.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.file2.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.file2}}<span
									class="helptext">{{optObjForm.file2.help_text}}</span>{{optObjForm.file2.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.file3.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.file3}}<span
									class="helptext">{{optObjForm.file3.help_text}}</span>{{optObjForm.file3.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">首次创建用户和时间:</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								<span class="STYLE1">&nbsp;{{optObj.createUser}} /
									{{optObj.createTime|date:'Y-m-d H:i:s'}}</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">最后更新用户和时间:</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								<span class="STYLE1">&nbsp;{{optObj.updateUser}} /
									{{optObj.updateTime|date:'Y-m-d H:i:s'}}</span>
							</div>
						</td>
					</tr>
					{%if uploadFileList%}
					<tr>
						<td width="15%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
								<span class="STYLE1"> {%for fileName,dirPath in
									uploadFileList%} <span id='{{fileName}}'><a
										name='{{fileName}}'
										href="javascript:downloadFile('{{fileName}}')">{{fileName}}</a></span>&nbsp;
									<a href="javascript:deleteFile('{{fileName}}')">删除</a><br>
									{%endfor%}

								</span>
							</div>
						</td>
					</tr>
					{%endif%}
					<tr>
						<td width="100%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
								{%if perms.DepNoticeManagement.change_depnotice%} <span
									class="STYLE1"><input type='submit' value='提交' /></span>
								{%endif%}
							</div>
						</td>
					</tr>
				</table> <span class="notify"> *&nbsp;为必填项<br>
			</span>
			</td>
			<td width="20%">&nbsp;</td>
		</tr>
	</table>
</form>
{%endblock%}
