{%extends 'base_template/add_edit_page/addOrEditBase.html'%}

{%block title%}登录通知{%endblock%}

{%block saveOrUpdateForm%}

<style type="text/css">
<!--
.radio ul li{
	width:20%;
	vertical-align:middle
}
.radio ul li label{
	vertical-align:middle
}
-->
</style>
<script type="text/javascript">
<!--
function downloadFile(fileName)
{
	uId=document.getElementsByName('id')[0].value
	href='/DepNoticeManagement/download/?id='+uId+'&fileName='+fileName
	window.location=href
}
//-->
</script>
<form method='post' action='/DepNoticeManagement/saveOrUpdate/' enctype='multipart/form-data'>
<input type='hidden' name='deleteFileName' id='deleteFileName'/>
{%csrf_token%}
{{optObjForm.id}}
{{optObjForm.uploadDir}}

<br>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="20%">&nbsp;</td>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="1"
					bgcolor="b5d6e6">

					<tr>
						<td width="98%" height="22"
							bgcolor="#CDEAF8" colspan='2'>
							<div align="left">
								&nbsp;&nbsp;<span class="STYLE3">登录通知</span>
							</div>
						</td>
					</tr>
					
					<tr>
						<td width="25%" height="22"
							bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.title.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="75%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.title.value}}
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22"
							bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.content.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="radio">{{optObjForm.content}}
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22"
							bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">首次创建用户和时间:</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								<span class="STYLE1">&nbsp;{{optObj.createUser}} / {{optObj.createTime|date:'Y-m-d H:i:s'}}</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22"
							bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">最后更新用户和时间:</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								<span class="STYLE1">&nbsp;{{optObj.updateUser}} / {{optObj.updateTime|date:'Y-m-d H:i:s'}}</span>
							</div>
						</td>
					</tr>
					{%if uploadFileList%}
					<tr>
						<td width="15%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
								<span class="STYLE1">
									{%for fileName,dirPath in uploadFileList%}
										<span id='{{fileName}}'><a name='{{fileName}}' href="javascript:downloadFile('{{fileName}}')">{{fileName}}</a></span>&nbsp;
									{%endfor%}
								
								</span>
							</div>
						</td>
					</tr>
					{%endif%}
					<tr>
						<td width="100%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
							{%if perms.DepNoticeManagement.change_depnotice%}
								<span class="STYLE1"><input type='submit' value='提交' /></span>
							{%endif%}
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td width="20%">&nbsp;</td>
		</tr>
	</table>
</form>
{%endblock%}
