<html>
<head>
<title>Happiness Level Submission</title>
<link rel="stylesheet" type="text/css" href="../../static/Login/vendor/bootstrap/css/bootstrap.min.css">

</head>
<body>
<form action="">
  <!--div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">How are you feeling?</h1>
     <p class="lead">We would like to know how are you feeling about yourself and your team.</p>
   </div>
</div-->
<div class="alert alert-primary" role="alert">
  How are you feeling? We would like to know how are you feeling about yourself and your team.
</div>
<div class="container">
  <!-- Content here -->
<br>
  <div class="row">
    <div class="col-2" >
       <h1 class="display-6">Self Happiness</h1>
    </div>
    <div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/ExcitedEmoji.jpg">
	   <center><input type="radio" name="selfhappiness" value="male" />Exited<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/happy.png">
	   <center><input type="radio" name="selfhappiness" value="male"/> Happy<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/normal.jpg">
	   <center><input type="radio" name="selfhappiness" value="male"/> Normal<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/Unhappy.png">
	   <center><input type="radio" name="selfhappiness" value="male"/> Unhappy<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/angry.jpg">
	   <center><input type="radio" name="selfhappiness" value="male"/>Angry<br></center>
    </div>
  </div>
  <br>
  <hr class="my-4">
  <br>
  <div class="row">
    <div class="col-2" >
       <h1 class="display-6">Team Happiness</h1>
    </div>
    <div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/ExcitedEmoji.jpg">
	   <center><input type="radio" name="teamhappiness" value="male" />Exited<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/happy.png">
	   <center><input type="radio" name="teamhappiness" value="male"/> Happy<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/normal.jpg">
	   <center><input type="radio" name="teamhappiness" value="male"/> Normal<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/Unhappy.png">
	   <center><input type="radio" name="teamhappiness" value="male"/> Unhappy<br></center>
    </div>
	<div class="col-2">
      <image style="width:100%" src="../../static/Login/images/emoji/angry.jpg">
	   <center><input type="radio" name="teamhappiness" value="male"/>Angry<br></center>
    </div>
 
  </div>
   <br>
  <hr class="my-4">

  <button style="float:right" type="button" class="btn btn-primary"><h1>Submit</h1></button>
</div>
</form>
</body>
</html>