<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="Login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="Login/css/util.css">
	<link rel="stylesheet" type="text/css" href="Login/css/main.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="Login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="Login/vendor/bootstrap/js/popper.js"></script>
	<script src="Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="Login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="Login/vendor/daterangepicker/moment.min.js"></script>
	<script src="Login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="Login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="Login/js/main.js"></script>
</head>
<script language='javascript'> 
function mysubmit()
{
	/*if(document.getElementsByName('username')[0].value=='')
	{
		document.getElementsByName('username')[0].value='xingtong';
	}
	if(document.getElementsByName('password')[0].value=='')
	{
		document.getElementsByName('password')[0].value='1234';
	}*/
	window.document.forms[0].submit();
}
var message=null;
{%for error in form.errors%}
var error='{{error}}'
if(error=='username')
{
	if(message==null)
	{
		message='Username or password is null!';
	}
	else
	{
		message+=';Username is wrong or null!';
	}
}
if(error=='password')
{
	if(message==null)
	{
		message='Wrong password!';
	}
	else
	{
		message+=';Wrong password!';
	}
}
if(error=='__all__')
{
	if(message==null)
	{
		message='Wrong username or password!';
	}
	else
	{
		message+=';Wrong username or password!';
	}
}
{%endfor%}
if(message!=null)
{
	alert(message)
}
$(function(){
	$('#loginMenu').click(function(){
		mysubmit()
	})
})
</script>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(Login/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" method='post' action=''>
				    {%csrf_token%} <input type='hidden' name='next' value='{{next|escape}}' />
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<!--div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div-->

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!--form method='post' action=''>
		{%csrf_token%} <input type='hidden' name='next'
			value='{{next|escape}}' />
		<table width="1029" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td height="630" align="center" background="../static/images/bg.jpg"><table
						width="400" border="0" cellpadding="0" cellspacing="0"
						style="margin-top: 100px">
						<tr>
							<td width="277"><table width="280" border="0">
									<tr>
										<td width="80" align="right"><span class="STYLE1">Username：</span></td>
										<td width="190" align="left">{{form.username}}</td>
									</tr>
								</table></td>
							<td width="113" rowspan="2" align="left"><img
								src="static/images/lb.png" width="62" height="62" border="0"
								id='loginMenu' /></td>
						</tr>
						<tr>
							<td width="277"><table width="280" border="0">
									<tr>
										<td width="80" align="right"><span class="STYLE1">Password：</span></td>
										<td width="190" align="left">{{form.password}}</td>
									</tr>
								</table></td>
							<td width="113" rowspan="2" align="left"></td>
						</tr>
					</table></td>
			</tr>
		</table-->
</body>
</html>
