<script type='text/javascript' src='/static/scripts/jquery-1.7.2.js'></script>
<script type='text/javascript'
	src='/static/scripts/DepWorkSiteCommon.js'></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.STYLE1 {
	font-size: 12px;
	color: #FFFFFF;
}

.STYLE3 {
	
}
/*
选中的菜单的样式
*/
.menu_visited {
	float: left;
	height: 20px;
	background: #033d61;
	color: white;
	font-size: 12px;
	font-weight: 900;
	margin: 0px 0px 0px 0px;
	cursor: hand;
}
/*
菜单的样式
*/
.menu {
	font-size: 12px;
	color: #033d61;
	float: left;
	height: 20px;
	/*background:#a3dbff;*/
	margin: 0px 10px 0px 0px;
	border: 0px solid black;
	cursor: hand;
}
/*
鼠标悬停的菜单的样式
*/
.menu_hover {
	float: left;
	height: 20px;
	background:#a3dbff;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #7bc4d3;
	border-right: 1px solid #7bc4d3;
	border-left: 1px solid #7bc4d3;
	border-bottom: 1px solid #7bc4d3;
	cursor: hand;
}
-->
</style>
<style type="text/css">
.menu_title SPAN {
	FONT-WEIGHT: bold;
	LEFT: 3px;
	COLOR: #ffffff;
	POSITION: relative;
	TOP: 2px
}

.menu_title2 SPAN {
	FONT-WEIGHT: bold;
	LEFT: 3px;
	COLOR: #FFCC00;
	POSITION: relative;
	TOP: 2px
}
</style>
<script>
//var he=document.body.clientHeight-105
//document.write("<div id=tt style=height:"+he+";overflow:hidden>")
function alertMsg()
{
	alert('You have no access to the function！')
}

$(function(){
	
	$('[id^=menu_]').click(function(){
		$('[id^=menu_]').each(function(){
			$(this).attr('class','menu');
		});
		$(this).attr('class','menu_visited');
	}).mouseover(function(){
		$(this).addClass('menu_hover');
	}).mouseout(function(){
		$(this).removeClass('menu_hover');
	});
	$('#menu_addDepNotice').click(function(){
		{%if perms.DepNoticeManagement.add_depnotice%}
			navigateTo('/DepNoticeManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_queryDepNotice').click(function(){
		navigateTo('/DepNoticeManagement/query/')
	});
	$('#menu_addRecOfficalDoc').click(function(){
		{%if perms.OfficalDocManagement.add_recofficaldoc%}
			navigateTo('/RecOfficalDocManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_queryRecOfficalDoc').click(function(){
		navigateTo('/RecOfficalDocManagement/query/')
	});
	$('#menu_addSendOfficalDoc').click(function(){
		{%if perms.OfficalDocManagement.add_sendofficaldoc%}
			navigateTo('/SendOfficalDocManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_querySendOfficalDoc').click(function(){
		navigateTo('/SendOfficalDocManagement/query/')
	});
	$('#menu_addDataService').click(function(){
		{%if perms.DataServiceManagement.add_dataservice%}
			navigateTo('/DataServiceManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_queryDataService').click(function(){
		navigateTo('/DataServiceManagement/query/')
	});
	$('#menu_addCloudSearch').click(function(){
		{%if perms.CloudSearchManagement.add_cloudsearch%}
			navigateTo('/CloudSearchManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_queryCloudSearch').click(function(){
		navigateTo('/CloudSearchManagement/query/')
	});
	$('#menu_addWorkDiary').click(function(){
		{%if perms.WorkDiaryManagement.add_workdiary%}
			navigateTo('/WorkDiaryManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_queryWorkDiary').click(function(){
		navigateTo('/WorkDiaryManagement/query/')
	});
	
	$('#menu_addWorkProject').click(function(){
		{%if perms.WorkDiaryManagement.add_workproject%}
			navigateTo('/WorkProjectManagement/add/')
		{%else%}
			alertMsg()
		{%endif%}
	});
	$('#menu_editUserInfo').click(function(){
		navigateTo('/UserManagement/edit/?id={{user.id}}')
	});
	$('#menu_queryUserManagement').click(function(){
		navigateTo('/UserManagement/query/')
	});
	$('#menu_passwordChange').click(function(){
		navigateTo('/Sys/passwordChange/')
	});
	$('#menu_passwordRest').click(function(){
		navigateTo('/Sys/password_reset/')
	});
})

$(
		function(){
			$('#Logout').click(function(){
				if(confirm('Do you want to quit the system？'))
				{
					window.parent.parent.parent.location='/logout/'
				}
			});
		}
		);
</script>

<table width="165" height="100%" border="0" cellpadding="0"
	cellspacing="0">
	<tr>
		<td height="28" background="/static/images/main_40.gif"><table
				width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="19%">&nbsp;</td>
					<td width="81%" height="20"><span class="STYLE1">menu</span></td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td valign="top">
			<table width="151" border="0" align="center" cellpadding="0" cellspacing="0">
				<!-- user management -->
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="23" background="/static/images/main_47.gif"
									id="imgmenu6" class="menu_title"
									onMouseOver="this.className='menu_title2';"
									onClick="showsubmenu(6)"
									onMouseOut="this.className='menu_title';" style="cursor: hand"><table
										width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="18%">&nbsp;</td>
											<td width="82%" class="STYLE1">User management</td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td background="/static/images/main_51.gif" id="submenu6">
									<div class="sec_menu">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><table width="90%" border="0" align="center"
														cellpadding="0" cellspacing="0">
														{% if perms.auth.change_user %} 
														<tr>
															<td width="8%" height="25"><div align="center">
																	<img src="/static/images/left.gif" width="10"
																		height="10" />
																</div></td>
															<td width="92%" height="23"><table width="95%"
																	border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class='menu' id='menu_editUserInfo'>Edit personal info</td>
																	</tr>
																</table></td>
														</tr>
														{% endif %}
														{%if perms.auth.query_user%} 
														<tr>
															<td width="8%" height="25"><div align="center">
																	<img src="/static/images/left.gif" width="10"
																		height="10" />
																</div></td>
															<td width="92%" height="23"><table width="95%"
																	border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class='menu' id='menu_queryUserManagement'>Query user</td>
																	</tr>
																</table></td>
														</tr>
														{%endif%}
														<tr>
															<td width="8%" height="25"><div align="center">
																	<img src="/static/images/left.gif" width="10"
																		height="10" />
																</div></td>
															<td width="92%" height="23"><table width="95%"
																	border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class='menu' id='menu_passwordChange'>Modify password</td>
																	</tr>
																</table></td>
														</tr>
													</table></td>
											</tr>
											<tr>
												<td height="5"><img src="/static/images/main_52.gif"
													width="151" height="5" /></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<td height="23" background="/static/images/main_47.gif"
									id="imgmenu6" class="menu_title"
									onMouseOver="this.className='menu_title2';"
									onClick="showsubmenu(6)"
									onMouseOut="this.className='menu_title';" style="cursor: hand"><table
										width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="18%">&nbsp;</td>
											<td width="82%" class="STYLE1">Logout</td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td background="/static/images/main_51.gif" id="submenu6">
									<div class="sec_menu">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><table width="90%" border="0" align="center"
														cellpadding="0" cellspacing="0">
														<tr>
															<td width="8%" height="25"><div align="center">
																	<img src="/static/images/left.gif" width="10"
																		height="10" />
																</div></td>
															<td width="92%" height="23"><table width="95%"
																	border="0" cellspacing="0" cellpadding="0">
																	<tr>
																		<td class='menu' id='Logout'>Logout</td>
																	</tr>
																</table></td>
														</tr>
													</table></td>
											</tr>
											<tr>
												<td height="5"><img src="/static/images/main_52.gif"
													width="151" height="5" /></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>



	<tr>
		<td height="18" background="/static/images/main_58.gif"><table
				width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="18" valign="bottom"><div align="center"
							class="STYLE1">Copyright AUT</div></td>
				</tr>
			</table></td>
	</tr>
</table>
<script>
function showsubmenu(sid)
{
whichEl = eval("submenu" + sid);
imgmenu = eval("imgmenu" + sid);
if (whichEl.style.display == "none")
{
eval("submenu" + sid + ".style.display=\"\";");
imgmenu.background="/static/images/main_47.gif";
}
else
{
eval("submenu" + sid + ".style.display=\"none\";");
imgmenu.background="/static/images/main_48.gif";
}
}
</script>