<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type='text/javascript' src='/static/scripts/jquery-1.7.2.js'></script>
<script type='text/javascript'
	src='/static/scripts/jquery.dateSelector.js'></script>
<script type='text/javascript' src='/static/scripts/datetime.js'></script>
<script type='text/javascript'
	src='/static/scripts/DepWorkSiteCommon.js'></script>
<title></title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.STYLE1 {
	font-size: 12px;
	color: #FFFFFF;
}

.STYLE2 {
	font-size: 9px
}

.STYLE3 {
	color: #033d61;
	font-size: 12px;
}

.mouseHover {
	cursor: pointer;
}
-->
</style>
<script type="text/javascript">

$(
		function(){
			$('#welcome_image').click(function(){
				navigateTo('/html/welcome.html')
			}).hover(function(){
				$(this).addClass('mouseHover')
			},function(){
				$(this).removeClass('mouseHover')
			});
			$('#logout_image').click(function(){
				if(confirm('您要退出系统吗？'))
				{
					parent.window.location='/logout/'
				}
			}).hover(function(){
				$(this).addClass('mouseHover')
			},function(){
				$(this).removeClass('mouseHover')
			});
		}
		);
</script>
</head>

<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="70" background="/static/images/main_05.gif"><table
					width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="24"><table width="100%" border="0"
								cellspacing="0" cellpadding="0">
								<tr>
									<td width="270" height="24"
										background="/static/images/main_03.gif">&nbsp;</td>
									<td width="505" background="/static/images/main_04.gif">&nbsp;</td>
									<td>&nbsp;</td>
									<td width="21"><img src="/static/images/main_07.gif"
										width="21" height="24"></td>
								</tr>
							</table></td>
					</tr>
					<tr>
						<td height="38"><table width="100%" border="0"
								cellspacing="0" cellpadding="0">
								<tr>
									<td width="270" height="38"
										background="/static/images/main_09.gif">&nbsp;</td>
									<td><table width="100%" border="0" cellspacing="0"
											cellpadding="0">
											<tr>
												<td width="77%" height="25" valign="bottom"><table
														width="100%" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td width="50" height="19"><div align="center">
																	<img src="/static/images/main_12.gif" width="49"
																		height="19" id='welcome_image'>
																</div></td>

															<td width="50"><div align="center">
																	<img src="/static/images/main_20.gif" width="48"
																		height="19" id='logout_image'>
																</div></td>

															<td>&nbsp;</td>
														</tr>
													</table></td>
												<td width="220" valign="bottom" nowrap="nowrap"><div
														align="right">
														<span class="STYLE1"><span class="STYLE2">当前时间：<span
																id="time" /> <SCRIPT language=JavaScript>dispdate();</SCRIPT>&nbsp;&nbsp;<SPAN
																id="lblTime" />
															<SCRIPT language=JavaScript>updateTime();</SCRIPT></span>
													</div></td>
											</tr>
										</table></td>
									<td width="21"><img src="/static/images/main_11.gif"
										width="21" height="38"></td>
								</tr>
							</table></td>
					</tr>
					<tr>
						<td height="8" style="line-height: 8px;"><table width="100%"
								border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="270" background="/static/images/main_29.gif"
										style="line-height: 8px;">&nbsp;</td>
									<td width="505" background="/static/images/main_30.gif"
										style="line-height: 8px;">&nbsp;</td>
									<td style="line-height: 8px;">&nbsp;</td>
									<td width="21" style="line-height: 8px;"><img
										src="/static/images/main_31.gif" width="21" height="8"></td>
								</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="28" background="/static/images/main_36.gif"><table
					width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="177" height="28"
							background="/static/images/main_32.gif"><table width="100%"
								border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="20%" height="22">&nbsp;</td>
									<td width="59%" valign="bottom"><div align="center"
											class="STYLE1">欢迎你： {% if user.last_name %}
											{{user.last_name}}{{user.first_name}} {% else %}
											{{user.username}} {%endif%}</div></td>
									<td width="21%">&nbsp;</td>
								</tr>
							</table></td>
						<td><table width="100%" border="0" cellspacing="0"
								cellpadding="0">
								<tr>
									<td width="65" height="28"><table width="100%" border="0"
											cellspacing="0" cellpadding="0">
											<tr>
												<td height="23" valign="bottom"></td>
											</tr>
										</table></td>

								</tr>
							</table></td>
						<td width="21"><img src="/static/images/main_37.gif"
							width="21" height="28"></td>
					</tr>
				</table></td>
		</tr>
	</table>
</body>
</html>
