{%extends 'base_template/add_edit_page/addOrEditBase.html'%} 
{%block title%}edit user information{%endblock%} {%block saveOrUpdateForm%}
<script language="javascript">	
</script>
<form method='post' action='/UserManagement/saveOrUpdate/'
	enctype='multipart/form-data'>
	{%csrf_token%} {{optObjForm.id}} <br>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="20%">&nbsp;</td>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="1"
					bgcolor="b5d6e6">

					<tr>
						<td width="98%" height="22" bgcolor="#CDEAF8" colspan='2'>
							<div align="left">
								&nbsp;&nbsp;<span class="STYLE3">edit user information</span>
							</div>
						</td>
					</tr>

					<tr>
						<td width="25%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.first_name.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="75%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.first_name}}<span
									class="helptext">{{optObjForm.first_name.help_text}}</span>{{optObjForm.first_name.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.last_name.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="radio">{{optObjForm.last_name}}<span
									class="helptext">{{optObjForm.last_name.help_text}}</span></span>{{optObjForm.last_name.errors}}
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.email.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.email}}<span
									class="helptext">{{optObjForm.email.help_text}}</span>{{optObjForm.email.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.nationality.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.nationality}}<span
									class="helptext">{{optObjForm.nationality.help_text}}</span>{{optObjForm.nationality.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{optObjForm.hobby.label_tag}}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{optObjForm.hobby}}<span
									class="helptext">{{optObjForm.hobby.help_text}}</span>{{optObjForm.hobby.errors}}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="100%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
								<span class="STYLE1"><input type='submit' value='submit' /></span>
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td width="20%">&nbsp;</td>
		</tr>
	</table>
</form>
{%endblock%}
