{% extends 'base_template/query_page/queryTable.html' %} 
{%block query_url%}/CloudSearchManagement/query{%endblock%} {%block queryParam%}
<tr>
	<td width="98%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF" colspan='8'>
		<div align="left">
			&nbsp;&nbsp;<span class="STYLE3">user information query</span>
		</div>
	</td>
</tr>
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE1">{{queryForm.first_name.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF" colspan='3'>
		<div align="center">
			<span class="STYLE1">{{queryForm.first_name_qry.label_tag}}</span>
		</div>
	</td>
	<td width="15%" height="22" bgcolor="#FFFFFF" colspan='3'>
		<div align="center">
			<span class="STYLE1">{{queryForm.last_name_qry.label_tag}}</span>
		</div>
	</td>
</tr>
{%endblock%} {%block list_name%}user information table{% endblock%} 
{%block add_button%} {%endblock%} {%block export_button%} 
{%if perms.UserManagement.export_userinformation%}
<table width="90%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="STYLE1"><div align="center">
				<img src="/static/tab/images/33.gif" width="14" height="14" />
			</div></td>
		<td class="STYLE1">
			<div align="center">
				<a href='/UserManagement/exportData/'>export</a>
			</div>
		</td>
	</tr>
</table>
{%endif%} {%endblock%} {%block table_title%}
<tr>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">First name</span>
		</div></td>
	<td width="20%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">Last name</span>
		</div></td>
	<td width="30%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">Email</span>
		</div></td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">Nationality</span>
		</div></td>
	<td width="20%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">Hobby</span>
		</div></td>
	<td width="10%" height="22" background="/static/tab/images/bg.gif"
		bgcolor="#FFFFFF" class="STYLE1"><div align="center">process</div></td>
</tr>
{%endblock%} {%block table_body%} {% if queryResultList %}
 {%for optObj in queryResultList%}
<tr>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.first_name}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.last_name}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.email}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.nationality}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF"><div align="center">
			<span class="STYLE1">{{optObj.hobby}}</span>
		</div></td>
	<td height="20" bgcolor="#FFFFFF">
		<div align="center">
			<span class="STYLE4"> {%if perms.UserManagement.change_userinformation%} 
			<img src="/static/tab/images/edt.gif" width="16" height="16" />
				<a href='/UserManagement/edit/?id={{optObj.id}}'>edit</a>
			</span>
		</div>
	</td>
</tr>
{%endfor%} {%endif%} {%endblock%}

