{%extends 'base_template/add_edit_page/addOrEditBase.html'%} {%block
title%}修改用户密码{%endblock%} {%block saveOrUpdateForm%}
<form method='post' action=''>
	{%csrf_token%} <br>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="25%">&nbsp;</td>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="1"
					bgcolor="b5d6e6">

					<tr>
						<td width="98%" height="22" bgcolor="#CDEAF8" colspan='2'>
							<div align="left">
								&nbsp;&nbsp;<span class="STYLE3">修改用户密码</span>
							</div>
						</td>
					</tr>

					<tr>
						<td width="25%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{ form.old_password.label_tag }}</span>&nbsp;
							</div>
						</td>
						<td width="75%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{ form.old_password }}{{
									form.old_password.errors }}</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{ form.new_password1.label_tag }}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{ form.new_password1 }}<span
									class="helptext">{{ form.new_password1.help_text }}</span>{{
									form.new_password1.errors }}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="10%" height="22" bgcolor="#E9F6FC">
							<div align="center">
								<span class="STYLE1">{{ form.new_password2.label_tag }}</span>&nbsp;
							</div>
						</td>
						<td width="15%" height="22" bgcolor="#FFFFFF">
							<div align="left">
								&nbsp;<span class="STYLE1">{{ form.new_password2 }}<span
									class="helptext">{{ form.new_password2.help_text }}</span>{{
									form.new_password2.errors }}
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td width="100%" height="22" bgcolor="#FFFFFF" colspan='2'>
							<div align="center">
								<span class="STYLE1"><input type='submit' value='提交' /></span>
							</div>
						</td>
					</tr>
				</table> <span class="notify"> </span>
			</td>
			<td width="25%">&nbsp;</td>
		</tr>
	</table>
</form>
{%endblock%}
